.card {
  border: 1px solid #ccc;
  > header {
    color: #333;
    text-align: center;
    background-color: #ddd;
    padding: .5rem 0;
  }

  .content {
    padding: 1rem;
    font-size: 0.75rem;

    a {
      margin-right: 0.5rem;
      font-size: 0.75rem !important;
    }
    ul {
      li {
        padding: 0.2rem 0;
      }
    }
  }
}